#map {
    height: 720px;
    width: 100%;
}

html, body {
    height: 100%;
    margin: 0;
}

.controls-card {
    margin: 10px;
}

.low-width-inputs {
    background-color: #fff !important;
    font-family: Roboto !important;
    font-size: 18px !important;
    font-weight: 300 !important;
    text-align: center !important;
    text-overflow: ellipsis !important;
    width: 120px !important;
}

.low-width-inputs:disabled {
    background-color: rgba(0,0,0,0.1) !important;
}

input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button,
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none !important;
    display: none !important;
    visibility: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
}

.gm-style {
    font: 400 18px Roboto, Arial, sans-serif !important;
}

.card-label-first {
    font: 400 15px Roboto, Arial, sans-serif !important;
}

.card-label {
    margin-top: 0.3rem !important;
    font: 400 15px Roboto, Arial, sans-serif !important;
}

.card-header {
    border-bottom: 1px solid #ffffff !important;
    padding: 0.2rem 0.2rem !important;
    text-align: center !important;
}

.card-body {
    padding: 0.5rem !important;
}

.card-title {
    margin-bottom: 0.3rem !important;
}

.form-control {
    padding: 0.2rem !important;
    height: 1.7rem !important;
    line-height: normal !important;
}

.custom-select {
    padding: 0.2rem !important;
    height: 1.7rem !important;
    line-height: normal !important;
}

#addresses-card {
    min-width: 300px;
    -webkit-transition: ease 0.5s;
    transition: ease 0.5s;
}

#addresses-card.expanded {
    min-width: 900px;
}

#time-card {
    min-width: 140px;
}

#driver-card {
    min-width: 140px;
    max-width: 140px;
}

.controls-card.bg-primary {
    background-color: #3f51b5 !important;
}

.button {
    background-color: #3f51b5 !important;
    padding: 0.75rem !important;
}

.button:hover {
    color: #ffffff !important;
}

.button:disabled {
    opacity: 1.0 !important;
    background-color: #3f51b5 !important;
    padding: 0.75rem !important;
    font: 500 28px Roboto, Arial, sans-serif !important;
}

#submitButton {
    font: 500 28px Roboto, Arial, sans-serif !important;
}